<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/84/39/c9/8439c9b7fcbeb6fea0f7bd3f2bae8a0b.jpg);">
  <div class="container">
    <h1>Dionysus Cocktails: Drink like a Greek god! 🍸</h1>
    <p>Join us on the olymp of cocktails. Browse our cocktials below or add your own creation!</p>
    <a><%= link_to "+Add New Cocktail!", new_cocktail_path, class: "btn btn-warning" %></a>
  </div>
</div>

<div class="container">
  <div class="row my-3">
    <% @cocktails.each do |cocktail| %>

      <div class="col-xs-12 col-sm-6">
        <div class="card-trip">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
            </div>
            <h2 class="card-trip-pricing">Strong</h2>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>

<a><%= link_to "+Add New Cocktail!", new_cocktail_path, class: "btn btn-warning" %></a>


