<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQyi9uIN9nHKS9MDyPoOrKRqm-WIKtt6V_6daBv88iy1fu5YDto&usqp=CAU)">
  Add New Dose
</div>

<h1 class="text-center">Add a Dose</h1>
<div class="row">
  <div class="col-8 offset-2">
    <!-- # Simple Form needs the 2 objects to build the right request
    # like simple_form_for [ @restaurant, @review ]...-->
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, collection: @ingredients %>
      <%= f.input :description, placeholder: "Enter amount and type of unit/measurement", hint: "Examples: '6 leaves', '50 ml', '20 g'" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
